<div class="grid-container about-container">
  <img src="../../../assets/ugly-boi.jpg" alt="" class="about-img">
  <div class="about-section">
    <span class="header">Hi! I'm Vincent. </span>
    <div class="about-text">
      <p>When I'm not trying to debug code: I enjoy going out to local concerts, playing fighting games, and consuming anything that seems edible.</p>
      <p>From time to time I <a href="https://twitter.com/koala_vlc" class="twitter">tweet</a>, take <a href="https://www.instagram.com/koalav_c/" class="instagram">pictures</a> and push code up to <a href="https://github.com/koalavc" class="github">Github</a>.</p>
      <div class="skills-group">
        <p class="p-header">Things I like to use:</p>
        <p class="skills">Angular 2+, Node, HTML, CSS, SCSS, JavaScript, TypeScript</p>
      </div>
      <div class="contact">
        <p class="email">
          <i class="twa twa-email"></i>: <a href="mailto:vincec362@gmail.com" class="email-text">vincec362@gmail.com</a>
        </p>
        <p>
          <i class="twa twa-telephone-receiver"></i>: 860.543.5020
        </p>
      </div>
    </div>
  </div>
</div>  