<div class="grid-container">
  <p>
    In Feburary 2018, I was accepted to be a part of the Geekwise Cohort in Fresno, California. Working alongside fellow cohort members to develop a management app using modern technologies such as Angular 2+, Node, Docker and PostgreSQL. The software will be used by credit unions to utilize the app’s unique features and customizable options in order to interact with their customers.
  </p>

  <p class="disclaimer">Unfortunately, due to the current status of the project, I cannot disclose more information but I'll be more than happy to discuss it on a call!</p>

  <p>
    <a [routerLink]="['/projects']" class="back">Back to Projects</a>
  </p>
</div>

