<div class="grid-container projects-container">

    <!-- Pulito -->
    <div class="project-section">
      <img src="../../../assets/pulito/mockups.png" alt="Pulito Icon" class="imgs">
      <div class="text-style">
        <div class="description-container">
          <h1>Pulito</h1>
          <p class="project-date">June 2018 - August 2018</p>
          <p class="project-text">Worked with fellow Geekwise cohort members to design a mobile app that provides up-to-date information regarding recycling
          and waste disposal within the city of Fresno.</p>
          <a [routerLink]="['pulito']" class="view-pulito">View</a> 
        </div>
      </div>
    </div>
    <!-- End of Pulito -->

    <!-- cohort -->
    <div class="project-section">
      <img src="../../../assets/group_500x500.jpeg" alt="teamwork" class="imgs round-me">
      <div class="text-style">
        <div class="description-container">
          <h1>Geekwise Cohort</h1>
          <p class="project-date">February 2018 - August 2018</p>
          <p class="project-text">My experiences with joining the Geekwise Cohort.</p>
          <a [routerLink]="['cohort']" class="view-cohort">View</a>
        </div>
      </div>
    </div>
    <!-- end of cohort -->
    
    <!-- Iris  -->
    <div class="project-section">
      <img src="../../../assets/iris_logo.png" alt="Iris Icon" class="imgs">
      <div class="text-style">
        <div class="description-container">
          <h1>Iris</h1>
          <p class="project-date">November 2017 - December 2017</p>
          <p class="project-text"> Education app aimed at educating elementary aged students.</p> 
          <a href="https://github.com/benreckas/iris-app" class="view-iris" target="_blank">View</a>
        </div>
      </div>
    </div>
    <!-- End of Iris -->
</div>