<header>
  <div class="header-text">
    <h1>
      <a [routerLink]="['']">Vincent Chho</a>
    </h1>
  </div>
  <nav>
    <div class="menu open-icon"></div>
    <ul class="nav-list">
      <!-- <li class="nav-item">
        <a [routerLink]="['']" class="nav-breadcrumb">Home</a>
      </li> -->
      <li class="nav-item left">
        <a [routerLink]="['projects']" class="nav-breadcrumb">Projects</a>
      </li>
      <!-- <li class="nav-item">
        <a [routerLink]="['about']" class="nav-breadcrumb">About</a>
      </li> -->
    </ul>
  </nav>
</header>
